.logoBackground
{
	background-color: #F5F5F5;
}
.navbar {
   background-color: #F5F5F5;
   border: solid white 1px;
}

@media only screen and (min-width: 768px){
nav .navbar-nav
{
	margin-left: 12%;
}
}
nav .navbar-nav li a {
    color: black !important;
    font-weight: bold;
}
nav .navbar-nav li a:hover {
    color: #CF1E32 !important;
    font-weight: bold;
}