
.logoBackground
{
	background-color: #F5F5F5;
}
.navbar {
   background: linear-gradient(white,#F2F2F2,#E5E5E5);
   border: solid white 1px;
}

@media only screen and (min-width: 768px){
nav .navbar-nav
{
	margin-left: 6%;
}
.margin{
	margin-left: 6%;
}
}
nav .navbar-nav li a {
    color: black !important;
    font-weight: bold;
}
nav .navbar-nav li a:hover {
    color: #CF1E32 !important;
    font-weight: bold;
}
#active{
    color: white !important;
    background-color: #CF1E32;
}
#active:hover{
    color: white !important;
    background-color: #CF1E32;
}

.picSize{
	width: auto;
}
.themeColor{
	color:#CF1E32;
}
p {
    line-height: 200%;
}
.welcome{
    font-family: 'Georgia';
    font-weight: bolder;
    font-size: 22px;
    color: #272727;

}
.paraSpace{
	margin-top: 2%;
}
.elementSpace
{
	margin-top: 2%;
}
.footerColor{
	background-color: black;
	padding: 0px;
}